.albums{

margin: 0;
padding: 0;
background-color #ccc !important;
color: #fff !important;
}
.music-container
{
      font-family: sans-serif;
      width: 350px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
      position: absolute;
      background-image: linear-gradient(#6c6cff,#6b3636);

}
.music-header
{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #555;
  background-image: linear-gradient(#6b3636,#6c6cff);
}
.music-header .fa-angle-left
{
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;

}
.music-header .fa-search
{
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
  
}
.music-header .title
{
  width: 250px;
  height: 30px;
  position: absolute;
  margin-left: 30px;
  margin-top: 10px;
  text-align: center;
  padding-left: 500px;
}

.music-playlist
{
  width: 100%;
  height: 450px;

}
.music-menu
{
  width: 100%;
  height: 28px;
  
}
.menu
{
  width: 275px;
  height: 16px;
  margin: 15px 30px auto;
  border-radius: 10px;
  border: 1px solid #fff;
  
}