.albums
{
margin: 0;
padding: 0;
background-color #ccc !important;
color: #fff !important;
}
.music-container
{
      font-family: sans-serif;
      width: 350px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
      position: absolute;
      background-image: linear-gradient(#6c6cff,#6b3636);

}
.music-header
{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #555;
  background-image: linear-gradient(#6b3636,#6c6cff);
}
.music-header .fa-angle-left
{
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  cursor: pointer;

}
.music-header .fa-search
{
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
  
}
.music-header .title
{
  width: 250px;
  height: 30px;
  position: absolute;
  margin-left: 30px;
  margin-top: 10px;
  text-align: center;
  padding-left: 500px;
}

.music-playlist
{
  width: 100%;
  height: 450px;

}
.music-menu
{
  width: 100%;
  height: 28px;
  
}
.menu
{
  width: 275px;
  height: 16px;
  margin: 15px 30px auto;
  border-radius: 10px;
  border: 1px solid #fff;
  
}
.menu ul
{
  font-size: 10px;
  padding: initial;
}
.menu ul li
{
  list-style-type: none;
  display: inline-block;
  border-right: 1px sold #fff;
}
.menu ul li a
{
  color: #fff;
  padding: 5px 15px;
  text-decoration: none;
  letter-spacing: 0.5px;
}
.menu ul li:last-child
{
  border-right: none;
}
.music-box
{
  width: 100%;
  height: 410px;
  overflow: scroll;
  overflow-x: hidden; 
}
.music-box::-webkit-scrollbar
{
  width: 0px;
  height: background:transparent; 
}
.music-box .fa-ellipsis-v
{
  margin-right: 10px;
  margin-top: 22px;
  font-weight: normal;
  color: #elelel;
  cursor: pointer;
}
.music-info
{
  width: 100%;
  height: 50px;
  display: flex;
}
.music-img
{
  width: 50px;
  height: 50px;
}
.music-img img
{
  width: 40px;
  height: 40px;
  margin: 2px 5px;
  padding: 1px;
}
.music-name
{
  
}