{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Music</title>
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
  
</head>
<div class="music-container"></div>

  <div class="music-header">
    <i class="fa fa-angle-left"></i>
    <div class="title"><p>My Music</p></div>
    <i class="fa fa-search"></i>
  </div>
    
  <div class="music-playlist">
  <div class="music-menu text-center">
        <div class="menu">
        <ul>
            <li><a href="#">Songs</a></li>
            <li><a href="#">Albums</a></li>  
            <li><a href="#">Artists</a></li>
            <li><a href="#">Date Released</a></li> 
        </ul> 
  </div>
  </div>
  </div>  
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
