{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>My Music Streaming</title>
    <style>
        body{
          background-color: #f7f7f7;
          font-family: Open sans;
        }
        img{
          width: 100%;
          min-height: 250px;
        }
        .main{
          padding: 40px 0;
        }
        .col-md-3{
          margin-bottom: 40px;
        }
        .album-poster{
          position-relative: relative;
          display: block;
          border-radius: 7px;
          overflow: hidden;
          box-shadow: 0 15px 35px #3d2173al;
          transition: all ease 0.4s; 
        }
        .album-poster:hover{
          box-shadow: none;
          transform: scale(0.98) translateY(5px);
        }
        h3{
          font-size: 34px;
          margin-bottom: 34px;
          border-bottom: 4px solid #e6e6e6;
          padding-bottom: 15px;
        }
        p{
         font-size: 15px; 
        }
        h4{
          font-size: 15px;
          text-transform: uppercase;
          margin-top: 15px;
          font-weight: 700;        }
    </style>
  </head>
  <body>
    <h1>My Music!</h1>

  <div class="main">
      <div class="container">
          <div class="row"> 

             <div class="row">
               <div class="col-md-12"></div>
                 <h3>The Hits</h3>
                 </div>
              <div class="col-md-2">
                <a href="#" class="album-poster">
                  <img alt="Supreme Dead Prez RBG Bandana" class="n3VNCb" src="https://d2lllwtzebgpl1.cloudfront.net/151d67de707d250929a8b899e88d4fb6_listingImg_rpcqGULE2q.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 383px; margin: 0px;">
                </a>
                <h4>Hit 1</h4>
              </div>
               <div class="col-md-2">
                <a href="#" class="album-poster">
                  <img alt="Supreme Dead Prez RBG Bandana" class="n3VNCb" src="https://d2lllwtzebgpl1.cloudfront.net/151d67de707d250929a8b899e88d4fb6_listingImg_rpcqGULE2q.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 383px; margin: 0px;">
                </a>
                <h4>Hit 2</h4>
              </div>
              <div class="col-md-2">
                <a href="#" class="album-poster">
                  <img alt="Dead Prez – Hit Me, Hit Me Lyrics | Genius Lyrics" class="n3VNCb" src="https://images.genius.com/47b54f1efb42a0c0657dababd941c312.600x594x1.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 383px; margin: 0px;">
                </a>
                <h4>Hit 3</h4>
                </div>
                <div class="col-md-2">
                <a href="#" class="album-poster">
                  <img alt="Supreme Dead Prez RBG Bandana" class="n3VNCb" src="https://d2lllwtzebgpl1.cloudfront.net/151d67de707d250929a8b899e88d4fb6_listingImg_rpcqGULE2q.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 383px; margin: 0px;">
                </a>
                <h4>Hit 4</h4>
                </div>
                <div class="col-md-2">
                <a href="#" class="album-poster">
                  <img alt="Supreme Dead Prez RBG Bandana" class="n3VNCb" src="https://d2lllwtzebgpl1.cloudfront.net/151d67de707d250929a8b899e88d4fb6_listingImg_rpcqGULE2q.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 383px; margin: 0px;">
                </a>
                <h4>Hit 5</h4>
                </div>
                <div class="col-md-2">
                <a href="#" class="album-poster">
                  <img alt="Supreme Dead Prez RBG Bandana" class="n3VNCb" src="https://d2lllwtzebgpl1.cloudfront.net/151d67de707d250929a8b899e88d4fb6_listingImg_rpcqGULE2q.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 383px; margin: 0px;">
                </a>
                <h4>To be comtinued..</h4>
                </div>
              
                  <h3>New Music</h3>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Tchaichovsky</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Bob Marley</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Dead Prez</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Meshell Ndegeocello</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Andrea Bocelli</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Common</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Seun Kuti</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Stevie Wonder</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>India Ari</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Jill Scott</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Kindred</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Sunni</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Arrested Development</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>En Vogue</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Michael Jackson</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Lorem ipsum</h4>
         <p>lorem ipsum - 2020</p>
  </div> <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Lorem ipsum</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Lorem ipsum</h4>
         <p>lorem ipsum - 2020</p>
  </div>
   <div class="col-md-3"></div>
       <a href "javascript:void();" class="album-poster">
           <img src="https://soulmindbody.net/esu/wp-content/uploads/2010/11/080819oya400.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd,gvK6lb;" style="width: 383px; height: 287.25px; margin: 0px;" alt="Oya, Yansa – Orisha Online Altar">
         </a> 
         <h4>Lorem ipsum</h4>
         <p>lorem ipsum - 2020</p>
  </div>
  
      </div>

          </div>
              </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
  </body>
</html>